<!DOCTYPE html>
<html>
  <head>
    <title>HIGH NOON STORE</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1><a href="/">HIGH NOON STORE</a>
        - <a href="/cart/edit">My Cart</a>
    </h1>

    <form action="/cart/edit" method="post">
        <div>
          <label for="SUCKA">Dig it. SUCKA!!!   Amount:</label>
          <input id="SUCKA" type="SUCKA" name="SUCKA" value="{{cart[0].get['num']}}">
        </div>
        <div>
          <label for="Pina">Pina Colada   Amount:</label>
          <input id="Pina" type="Pina" name="Pina" value="{{cart[1].get['num']}}">
        </div>
        <p><button type="submit">Submit</button></p>
    </form>
  </body>
</html>