{% extends 'base.html' %}

    {% block main %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1>Ionia</h1>
          <p class="lead text-muted">The fate of Ionia hangs in a delicate balance that few are willing to overturn, but all can feel shifting uneasily beneath their feet.
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2">Champions of Ionia</a>
            <a href="#" class="btn btn-secondary my-2">Life in Ionia</a>
          </p>
        </div>
      </section>
    
      <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row">
            {% for key, ch in champs.items() %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                  <img src="{{ch.src}}" class="card-img-top" alt="...">
                  <div class="card-body">
                  <h5>{{ch.name}}</h5>
                  <p class="card-text">{{ch.intro}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href = "/champ/{{key}}" class="btn btn-sm btn-outline-secondary">Abilities</a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Skins</button>
                    </div>
                    <small class="text-muted">Ionia</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}